
body {
  background-color: #b6e6bd;
  line-height: 1.6;
}

/* Containers */
.container-fluid {
  padding: 1% 10%;
  margin: auto;
  width: 100%;
  text-align: center;
}

.instructions {
  text-align: center;
}

.container-of-forms {
  padding: 1% 20%;
  width: 50%;
  margin: auto;
  text-align: center;
  display: flex;
  justify-content: center;
}

.container-inner {
  margin-left: 10px;
}

/* Fonts */
h1 {
  font-size: 3rem;
  color: #5b8c85;
  font-family: 'Indie Flower', cursive;
}

h3 {
  font-size: 1.5rem;
  color: #5b8c85;
  font-family: 'Indie Flower', cursive;
}

h5 {
  font-family: 'PT Mono', monospace;
  color: #5b8c85;
  font-size: 1rem;
}

/* Images */
img {
  width: 70px;
  line-height: 0;
   margin: 0 1%;
   display: flex;
   justify-content: center;
   display: inline;
}

figcaption {
  text-align: center;
  width: 100px;
  font-size: 1.5rem;
  color: #5b8c85;
  font-family: 'Indie Flower', cursive;
}

figure {
  display: inline-block;
  vertical-align: middle;
}

#img1 {
  transform: rotate(2deg);
}

#img2 {
  transform: rotate(-1deg);
}

#img3 {
  transform: rotate(1deg);
}

#img4 {
  transform: rotate(-1deg);
}

.rotate {
  animation: rotation 0.1s ;
  animation-iteration-count: 3;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

/* Forms */
.text-input-box {
  margin-bottom: 3%;
}


#submit {
  background-color: #ff6363;
  border-color: #ff6363;
}

footer {
  margin-top: 5%;
  color: #5b8c85;
  text-align: center;
  font-family: 'Indie Flower', cursive;
}

/* Invisble */
.invisible {
  display: none;
}

.hidden {
  visibility: hidden;
}
